body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
}