@font-face {
    font-family: GamePausedDEMO;
    src: url("font/Game Paused DEMO.otf");
}

body {
    font-family: GamePausedDEMO, sans-serif;
    text-align: center;
    background-color: lightgray;
}

.pause{
    display: none;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48.5%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.pause h1{
    color: #45a049;
    font-size: 36px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 20px;
}

.pause button{
    width: 180px;
    font-size: 20px;
    font-family: GamePausedDEMO, sans-serif;
    padding: 15px 30px;
    margin: 10px;
    background-color: darkslategray;
    border: none;
    color: #45a049;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease,color 0.5s ease;
}

.pause button:hover{
    background-color: #45a049;
    color: darkslategrey;
}

.instruction {
    display: none;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}

.instruction h1{
    color: #4CAF50;
    font-size: 36px;
}

.instruction h2{
    color: whitesmoke;
    font-size: 20px;
}

.instruction button{
    font-size: 20px;
    transform: translate(-850%);
    height: 25px;
    padding: 0 4px;
    margin: -20px;
    background-color: dimgrey;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.instruction button:hover{
    background-color: #45a049;
}

.insContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
    z-index: -1;
}
.menu h1 {
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 20px;
}
.menu button {
    width: 180px;
    font-size: 20px;
    font-family: GamePausedDEMO,sans-serif;
    padding: 15px 30px;
    margin: 10px;
    background-color: dimgrey;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.menu button:hover {
    background-color: #45a049;
}
.menu button:focus {
    outline: none;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
}

.game-container {
    display: none;
    text-align: center;
}

.game-canvas {
    margin: 0 20px;
}

.game-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}

.boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box {
    margin: 0 30px;
    width: 120px;
    height: 120px;
}

.box-title {
    text-align: center;
    width: 120px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info {
    text-align: center;
    margin: 261px 0 0;
    margin-left: -20px;
    width: 200px;
    height: 250px;
    border: 5px solid gray;
    background-color: whitesmoke;
    border-radius: 10px;
}

.info-text {
    margin: 10px 5px;
    text-align: left;
    font-size: 15px;
}